.item-container{
  margin-bottom: 50px;
}

.item-container .price .line-through{
  text-decoration: line-through;
  color: rebeccapurple;
}

.filter span{
  cursor: pointer;
}
.filter span:hover{
  color: red;
}

.cart button{
  background: #7A7A7A;
  color: #fff;
  outline: none;
  border: none;
  padding: 4px 10px;
}